.footer {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.footer__results {
  background: #F1F1F1;
  border-radius: 10px;
  padding: 25px 45px 25px;
}

.footer__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 20px;
}

.footer__list {
  margin-bottom: 30px;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__item:before {
  content: "—";
}
