.header {
  padding-top: 60px;
  padding-bottom: 50px;
}

.header__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 120%;
  margin-bottom: 30px;
}

.header__text:not(:last-child) {
  margin-bottom: 30px;
}

.header-content,
.footer__wrap {
  background: #F1F1F1;
  border-radius: 10px;
  margin-right: -30px;
  margin-left: -30px;
  padding: 25px 45px 25px;
}

.header-content__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
}

.header-content__list {
  padding-left: 25px;
  color: #02535F;
}

.header-content__item:not(:last-child) {
  margin-bottom: 10px;
}

.header-content__link {
  color: #02535F;
}
