.block {
  margin-bottom: 50px;
}

.block__wrap:not(:last-child) {
  margin-bottom: 30px;
}

.block__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 30px;
}

.block__text span {
  font-weight: 700;
}

.block__text-image5 {
  border-top: 1px solid #000000;
  margin-bottom: 30px;
}

.block__text-image5 .image5 {
  margin: 0;
}

.block__text-image5 p {
  margin: 0;
  padding: 15px 30px;
  border: 1px solid #000000;
  border-top: none;
}

.list-right,
.list-left {
  width: 482px;
  display: inline-block;
  vertical-align: top;
}

.list-left {
  margin-right: 30px;
}

.list__item:not(:last-child) {
  margin-bottom: 30px;
}

.list__item span {
  font-weight: 700;
}

.img__left {
  margin-right: 30px;
}

.block__text {
  margin-bottom: 30px;
}

.block2 img {
  display: block;
  margin: 0 auto 30px;
}

.block3 img {
  display: block;
  margin: 0 auto 30px;
}

.block3 .image10 {
  margin-bottom: 0;
}

.block3 .image15 {
  margin-bottom: 0;
}

.block3 {
  margin-bottom: 50px;
}
